                <select id="year_select">
                    <option value="2009">2009</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016" selected>2016</option>
                </select>
                <select id="season_type_select">
                    <option value="Preseason">Preseason</option>
                    <option value="Regular" selected>Regular</option>
                    <option value="Postseason">Postseason</option>
                </select>
                <select id="week_select">
                    <optgroup id="preseason" label="Preseason">
                        <option value="1" selected>Week 1</option>
                        <option value="2">Week 2</option>
                        <option value="3">Week 3</option>
                        <option value="4">Week 4</option>
                    </optgroup>
                    <optgroup id="regular" label="Regular Season">
                        <option value="0" selected>All</option>
                        <option value="1" selected>Week 1</option>
                        <option value="2">Week 2</option>
                        <option value="3">Week 3</option>
                        <option value="4">Week 4</option>
                        <option value="5">Week 5</option>
                        <option value="6">Week 6</option>
                        <option value="7">Week 7</option>
                        <option value="8">Week 8</option>
                        <option value="9">Week 9</option>
                        <option value="10">Week 10</option>
                        <option value="11">Week 11</option>
                        <option value="12">Week 12</option>
                        <option value="13">Week 13</option>
                        <option value="14">Week 14</option>
                        <option value="15">Week 15</option>
                        <option value="16">Week 16</option>
                        <option value="17">Week 17</option>
                    </optgroup>
                    <optgroup id="postseason" label="Postseason">
                        <option value="1" selected>Wildcard Round</option>
                        <option value="2">Division Championship</option>
                        <option value="3">Conference Championship</option>
                        <option value="4">Super Bowl</option>
                    </optgroup>
                </select>
