    <script>
        $(document).ready(function() {
            // Fuzzy player search with autocomplete
            $("#playerName").autocomplete({
                source: function(request, response) {
                    $.getJSON($SCRIPT_ROOT + "/_search_player", {
                        name: request.term
                    }, function(data) {
                        response(data.matching_results);
                    });
                },
                minLength: 2,
                select: function(event, ui) {
                    $("#playerId").val(ui.item.id);
                    $("#search").attr("disabled", false);
                }
            });

            $("#search").click(function() {
                $("#playerSearch").submit(function(event) {
                    var year = $("#year_select").val();
                    var phase = $("#phase_select").val();
                    var week = $("week_select").val();
                    console.log(year + ", " + phase + ", " + week);

                    var url = window.location.protocol + "//" + window.location.host + "/";
                    var page = "player/";
                    var params = $("#playerId").val();
                    var dest = url + page + params;

                    event.preventDefault();
                    window.location.href = dest;
                });
            });

            // Toggle select options based on season phase
            var preseasonFormat = $("#preseason").remove();
            var regularSeasonFormat = $("#regular").remove();
            var postseasonFormat = $("#postseason").remove();

            function toggleFields() {
                season_type = $("#season_type_select").val();
                $("#week_select optgroup").remove();

                if (season_type == "Preseason") {
                    $("#week_select").append(preseasonFormat);
                }
                if (season_type == "Regular") {
                    $("#week_select").append(regularSeasonFormat);
                }
                if (season_type == "Postseason") {
                    $("#week_select").append(postseasonFormat);
                }
            }

            $("#season_type_select").on("change", toggleFields);

            // Run the function on document.ready to select an initial option
            toggleFields();
        });
    </script>
</body>
</html>

