<script>
    function popSessionValues() {
        var prev_player_id = "{{ session['prev_player_id'] }}";
        if (prev_player_id != null) {
            $("#playerId").val(prev_player_id);
        }

        var prev_player_name = "{{ session['prev_player_name'] }}";
        if (prev_player_name != null) {
            $("#playerName").val(prev_player_name);
        }

        var prev_year = "{{ session['prev_year'] }}";
        if (prev_year != null) {
            if (prev_year != 0) {
                $("#year_select").val(prev_year);
            } else {
                $("#year_select").val("All");
            }
        }

        var prev_phase = "{{ session['prev_phase'] }}";
        if (prev_phase != null) {
            if (prev_phase != "0") {
                $("#phase_select").val(prev_phase);
            } else {
                $("#phase_select").val("All");
            }
        }

        var prev_week = "{{ session['prev_week'] }}";
        if (prev_week != null) {
            if (prev_week != 0) {
                $("#week_select").val(prev_week);
            } else {
                $("#week_select").val("All");
            }
        }
    }

    $(document).ready(function() {
        // Fuzzy player search with autocomplete
        $("#playerName").autocomplete({
            source: function(request, response) {
                $.getJSON($SCRIPT_ROOT + "/_search_player", {
                    name: request.term
                }, function(data) {
                    response(data.matching_results);
                });
            },
            minLength: 2,
            select: function(event, ui) {
                $("#playerId").val(ui.item.id);
            }
        });

        $("#week_select_all").change(function() {
            if ($(this).is(':checked') == true) {
                $("#week_select").attr("disabled", true);
                $("#week_select").val("All");
            } else {
                $("#week_select").attr('disabled', false);
            }
        });
        
        // Build a URL from our form values
        $("#search").click(function() {
            $("#playerSearch").submit(function(event) {
                var year = $("#year_select").val() == "All" ? "/0" : "/" + $("#year_select").val();
                var phase = $("#phase_select").val() == "All" ? "/0" : "/" + $("#phase_select").val();
                var week = ($("#week_select_all").is(':checked') || $("#week_select").val() == "All") ? "/0" : "/" + $("#week_select").val();

                var url = window.location.protocol + "//" + window.location.host + "/";
                var page = "player/";
                var params = $("#playerId").val() + year + phase + week;
                var dest = url + page + params;

                event.preventDefault();
                window.location.href = dest;
            });
        });

        popSessionValues();
    });
    </script>

</body>
</html>

