<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>Index</title>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script type="text/javascript">
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
	</head>
	<body>
        <div class="ui-widget container">
            <form>
                <input type="text" id="playerName" placeholder="Player Name">
            </form>
            <div id="player_info"></div>
        </div>
	</body>
    <script>
        $(document).ready(function() {
            // Fuzzy player search with autocomplete
            $("#playerName").autocomplete({
                source: function(request, response) {
                    $.getJSON($SCRIPT_ROOT + "/_search_player", {
                        name: request.term
                    }, function(data) {
                        response(data.matching_results);
                    });
                },
                minLength: 2,
                select: function(event, ui) {
                    var url = window.location.href;
                    window.location = url + "player/" + ui.item.id;
                }
            });
        
            // Toggle select options based on season phase
            var preseasonFormat = $("#preseason").remove();
            var regularSeasonFormat = $("#regular").remove();
            var postseasonFormat = $("#postseason").remove();

            function toggleFields() {
                season_type = $("#season_type_select").val();
                $("#week_select optgroup").remove();

                if (season_type == "Preseason") {
                    $("#week_select").append(preseasonFormat);
                }
                if (season_type == "Regular") {
                    $("#week_select").append(regularSeasonFormat);
                }
                if (season_type == "Postseason") {
                    $("#week_select").append(postseasonFormat);
                }
            }

            $("#season_type_select").on("change", toggleFields);

            // Run the function on document.ready to select an initial option
            toggleFields();
        });
    </script>
</html>
