{% include "base.html" %}
{% from 'macros.html' import stat_table with context %}

<div class="ui-widget container">
    <h1>{{ player.full_name }}</h1>
    <h4>{{ player.team }} #{{ player.uniform_number }}</h4>
    Height: {{ player.height|int // 12 }}'{{ player.height|int % 12 }}"&nbsp;&nbsp;&nbsp;&nbsp;
    Weight: {{ player.weight }}&nbsp;&nbsp;&nbsp;&nbsp;
    Years Pro: {{ player.years_pro }}&nbsp;&nbsp;&nbsp;&nbsp;
    Born: {{ player.birthdate }}&nbsp;&nbsp;&nbsp;&nbsp;
    College: {{ player.college }}&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="{{ player.profile_url }}">NFL Profile</a>

    <table class="table table-sm">
        {{ stat_table("passing") }}
        {{ stat_table("rushing") }}
        {{ stat_table("receiving") }}
        {{ stat_table("defense") }}
        {{ stat_table("fumbles") }}
        {{ stat_table("penalty") }}
        {{ stat_table("kick") }}
        {{ stat_table("punt") }}
        {{ stat_table("xp") }}
        {{ stat_table("timeout") }}
    </table>

</div>
